#top{
  
    background-image: url('https://media-exp1.licdn.com/dms/image/C511BAQFy5E_9BLtKmA/company-background_10000/0/1551239298175?e=2147483647&v=beta&t=5TNRBT39194LSa4c_AjrVDL5opzi5zW_v404lj5BZzo');
    background-position: center;
    background-size: 100% 100%;
    padding-top: 20%;
    background-size:cover;
  
}
#img-1{
    float: left;
    height: 200px;
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;

}

#img-2{
    float: right;
    height: 200px;
    width: 400px;
    margin-right: 300px;
    margin-top: 200px;
  
}
#para-1{
   
  margin-top: 100px;
  margin-left: 250px;
  float: left;
  
    
}
#para-2{
    margin-top: 200px;
    margin-right: 170px;
    float:right
}

#button{
    position: absolute;
    top:50%;
    background-color:#454577;
    color: #fff;
    border:none; 
    border-radius:30px; 
    padding:15px;
    height:50px; 
    min-width: 130px;
    margin-left:100px;
    margin-top: 200px;
    text-align:center;
    

 
  }
#button:hover{
    background-color:#0f0f0f;
    transition: 0.7s;
  }

  #button-1{
    position: absolute;
    top:50%;
    background-color:#454577;
    color: #fff;
    border:none; 
    border-radius:30px; 
    padding:15px;
    height:50px; 
    min-width: 80px;
    margin-left:100px;
    margin-top: 200px;
    text-align:center;
    

 
  }
#button-1:hover{
    background-color:#0c0c0c;
    transition: 0.7s;
  }
  #footer{
      
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
  
